@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.flex{
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    margin-bottom: 50px;
}

.itemcontainer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    border-bottom: 2px solid gray;
    margin-bottom: 10px;
}

.top-heading{
    text-wrap-mode: nowrap;
    font-weight: 600;
}

@media screen and (max-width: 380px) {
  .top-heading{
    font-size: 1.5rem;
  }
}

.flex-dishes{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
}

.mb{
  margin-bottom: 50px;
}

.dish-img img{
  width: 300px;
}

.dish-img p{
  color: gray;
}

.Description{
  padding: 0px 20px;
}

.descinpara p{
  padding-bottom: 2px;
  border-bottom: 0.5px solid gray;
}

.descinpara p:first-of-type{
  margin-bottom: 20px;
}

.steps{
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#width-as-needed{
  width: fit-content;
}

a{
  text-decoration: none;
}

#dishname{
  color: black;
  font-weight: 600;
}

.main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
}

.img1{
  background: url("../images/20513-classic-waffles-mfs-025-4x3-81c0f0ace44d480ca69dd5f2c949731a.webp");
}

.img2{
  background: url("../images/7333strawberry-cake-ilutzflcat4x3-6cbaf6b747ae4a1c971b56fc32a4ca5f.webp");
}

.img3{
   background: url("../images/pizza-pizza-filled-with-tomatoes-salami-olives_140725-1200.avif");
}

.home-img-container{
  width: 300px;
  height: 300px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

